.project
.classpath
.settings
pom.properties
/*target/*
src/main/webapp/META-INF/maven/MBTI/MBTI/pom.properties
src/main/webapp/META-INF/maven/MBTI/MBTI/pom.properties
src/main/webapp/META-INF/maven/MBTI/MBTI/pom.properties
src/main/webapp/META-INF/maven/MBTI/MBTI/pom.properties
src/main/webapp/META-INF/maven/MBTI/MBTI/.idea/compiler.xml
src/main/webapp/META-INF/maven/MBTI/MBTI/.idea/misc.xml
src/main/webapp/META-INF/maven/MBTI/MBTI/.idea/vcs.xml
src/main/webapp/META-INF/maven/MBTI/MBTI/.idea/workspace.xml
