@charset "UTF-8";
/* 컬러지정 */
:root{
	--text-color: rgb(30,63,79);
	--buttonOn-color: rgba(30,63,79,1);
	--buttonOff-color: rgba(30,63,79,0.2);
	--sideButtonOn-color: rgb(30,63,79);
	--sideButtonOff-color: rgb(226,224,223);
}

/* 그리드적용(왼쪽: 사이드메뉴/오른쪽: 메인내용) */
#wrap{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 9fr;
	justify-content: center;
    align-content: center;
	margin: 50px auto;
	padding:20px;
	
}
/* 그리드적용(상단:메인영역/하단:버튼영역) */
#wrapMain{
	width: 100%;
	height: 100%;
	justify-content: center;
    align-content: center;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
}
/* 콘텐츠 영역 */
#wrapContent{
	display: grid;
	grid-template-columns: repeat(2, 1fr) repeat(3, 2fr);
	grid-template-rows: repeat(11, minmax(10px, auto));
	gap: 30px 10px;
}


/* 콘텐츠 영역(이미지) */
#wrapContent article:nth-child(1){
	grid-column: 1 / 3; grid-row: 1 / span 3; display: flex; align-items: center;}
#mainImg{width: 70% !important; display: block; margin: 0 auto; filter: grayscale(80%);}
/* 콘텐츠 영역(MBTI 제목) */
#wrapContent article:nth-child(2){grid-column: 3 / 5; grid-row: 1 / 3; text-align: left; font-size:150px;}
/* 콘텐츠 영역(MBTI 구분) */
#wrapContent article:nth-child(3){grid-column: 3 / 5; grid-row: 3 / 4; text-align: left; align-self: center; font-size:40px;}
/* 콘텐츠 영역(설명1) */
#wrapContent article:nth-child(4){grid-column: 1 / 6; grid-row: 4 / 6; text-align: left; font-size:15px; line-height:150%;}
/* 콘텐츠 영역(이미지_가로바) */
#wrapContent article:nth-child(5){grid-column: 1 / 6; grid-row: 6 / 8; align-self: center;}
#barImg{width: 100% !important; margin:0px auto !important; filter: saturate(10%);}
/* 콘텐츠 영역(MBTI 서브타이틀) */
#wrapContent article:nth-child(6){grid-column: 1 / 6; grid-row: 8 / 9; text-align: left; align-self: center; font-size:50px;}        
/* 콘텐츠 영역(MBTI 설명) */
#wrapContent article:nth-child(7){grid-column: 1 / 6; grid-row: 9 / 12;text-align: left; font-size:15px; line-height:150%;}
/* 콘텐츠 제목 텍스트 상하단 표시 */
#wrapContent article:nth-child(2) div{display: inline; position: relative;}
#wrapContent article:nth-child(2) div::after{
	content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--sideButtonOff-color);
    border-radius: 10px;
}
#wrapContent article:nth-child(2) div::before{
	content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--sideButtonOff-color);
    border-radius: 10px;
} 
#wrapContent article:nth-child(6) div{display: inline; position: relative;}
#wrapContent article:nth-child(6) div::after{
	content: "";
    position: absolute;
    top: 110%;
    left: 0px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 10px;
}  
/* 왼쪽메뉴 기본 초기화 */
ul{list-style: none !important; padding:0px; margin:0px;}
a {text-decoration: none !important;}
*,::after,::before{box-sizing:initial !important;}	/* 부트스트랩 속성 초기화 */    
/* 왼쪽 메뉴 */
#mbtiMenu{
	width: 100% ;
    height: 100% ;
    margin: 0 auto;
    display: flex;
    align-items: top;
}
.mbtiMenuBtn{
	cursor: pointer;
	display: block;
	width: 100%;
	height: 30px;
	font: bold 15px/1 "arial";
	padding: 5px 10px;
	margin: 10px 20px;
	line-height:30px;
	border-radius: 20px;
	text-align: center;
	transition: all 0.5s;
	color: var(--text-color);
	background-color: var(--sideButtonOff-color);
}
.listHover{
	background: var(--sideButtonOn-color) !important;
	color: #fff !important;}
.listSelectHover{
	background: var(--sideButtonOn-color) !important;
	color: #fff !important;}
/* 게시판 이동 버튼 */
button:focus{outline:0px !important;}	/* 부트스트랩 속성 초기화 */
.wrapButton{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
}
#boardMoveBtn{
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: none;
	background: var(--buttonOn-color);
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}