@charset "UTF-8";

.box {
	height: 1000px;
	background-color: #eee;
}

#test {
	margin-top: -56px; /* 고정 요소의 높이의 여백을 설정 */
	padding-top: 56px; /* 패딩 */
}

.distance {
	margin-left: 10px;
	margin-right: 10px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.content {
	font-family: system-ui, serif;
	font-size: 2rem;
	padding: 3rem;
	margin: 0 auto;
	border-radius: 1rem;
	background: #0adef5;
	width: 1680px;
	height:720px;
}

.choice {
	width: 50%;
	height: 50%;
}

.worldcup_result{
	font-family: system-ui, serif;
	font-size: 2rem;
	padding: 3rem;
	margin: 0 auto;
	border-radius: 1rem;
	width: 90%;
}

.worldcup_result_left{
	width: 640px;
	height: 480px;
	float: left;
}
.worldcup_result_right{
	width: 640px;
	height: 480px;
	float: right;
}

.worldcup_result_table {
  border-collapse: separate;
  border-spacing: 20px 10px;
}